# Typical .gitignore entries for a Java project
/target/
nbactions.xml
github.txt
.idea
.vscode

# Accidentally committed class files
*.class

# Keep tmp directory
!/tmp/.gitkeep

# But ignore generated demo files
/tmp/